<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
        <File name="File" fileName="log.txt" immediateFlush="true" append="false">
            <PatternLayout pattern="%-5level %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="ConsoleLogger" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="FileLogger" level="INFO">
            <AppenderRef ref="File"/>
        </Logger>
        <Root>
        </Root>
    </Loggers>
</Configuration>